# Dependências
/node_modules
/package-lock.json
/yarn.lock

# Arquivos de compilação
/dist
/build
/out

# Arquivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivo de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
/.idea
/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Outros arquivos e diretórios
.DS_Store
Thumbs.db

# Arquivos específicos de configuração
/tsconfig.json
/.eslintrc.json
/.prettierrc
/.prettierignore
